.hero {
    --_media-width: 502px;
    position: relative;
    background: #3D3AD4;
    overflow: hidden;
    background: linear-gradient( 15deg, #EE1251 0%, #6729C1 59%, #1D35FD 100%);
}
.hero::before {
    content: '';
    background: url('./imgs/hero-dec-bot.webp') no-repeat center/cover;
    width: 125px;
    height: 123px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.hero__container {
    position: relative;
    color: #fff;
    height: 100dvh;
    display: grid;
    align-items: center;
    grid-template-columns: 660px var(--_media-width);
    min-height: 690px;
}
.admin-bar .hero__container {
    height: calc(100dvh - 32px);
}
.hero__media {
    position: relative;
    height: 100%;
}
.hero__media img {
    position: absolute;
    inset: 0;
    width: max(100%, calc((100vw - var(--content-width)) / 2 + var(--_media-width)));
    height: 100%;
    object-fit: cover;
    display: block;
}
.hero__content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;
    padding-top: 100px;
}
.hero__content:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 137px;
    height: 132px;
    background: url('./imgs/hero-dec-top.webp') no-repeat center/cover;
}
.hero__title {
    margin: 0 0 2rem;
}
.hero__description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}
.hero .hero__description p {
    margin: 0;
}
.hero__cta {
    display: flex;
    gap: 2.5rem;
}
.btn-hero {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 1.25rem;
    height: 57px;
    background: var(--color-light);
    color: var(--color-primary);
    box-shadow: 5px 5px 0 var(--color-primary);
}
.btn-hero--primary {
    color: var(--color-light);
    background: var(--color-primary);
    box-shadow: 5px 5px 0 var(--color-light);
}