.hero__image-placeholder,
.hero__media-actions {
    background: #ffffff3d;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(100%, (100vw - var(--content-width)) / 2 + var(--_media-width));
}
.hero__media-actions {
    background: none;
    position: absolute;
}